.craftsmanship {
  position: relative;
  background-color: var(--color-champagne);
}

.craftsmanship-container {
  display: grid;
  grid-template-columns: 5fr 7fr;
  gap: 100px;
  align-items: center;
}

.craft-desc {
  margin: 0;
  max-width: 500px;
  color: rgba(17, 17, 17, 0.75);
}

.craft-images {
  position: relative;
  height: 900px;
}

.craft-img-wrapper {
  position: absolute;
  overflow: hidden;
}

.craft-img-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 2s cubic-bezier(0.19, 1, 0.22, 1);
}

.craft-img-wrapper:hover img {
  transform: scale(1.05);
}

.img-1 {
  width: 65%;
  height: 70%;
  top: 5%;
  left: 0;
  z-index: 2;
}

.img-2 {
  width: 60%;
  height: 60%;
  bottom: 0%;
  right: 0;
  z-index: 1;
}

@media (max-width: 1024px) {
  .craftsmanship-container {
    grid-template-columns: 1fr;
    gap: 60px;
  }
  .craft-images {
    height: 600px;
  }
}
